body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0;
    padding: 25px;
}

.navbar-dark {
    font-family: 'Roboto-Black', sans-serif;
    font-size:20px;
    background-color: #6b0848
}

.navbar-brand {
    font-family: 'Roboto-Black', sans-serif;
    font-size: 30px;
}

.alert {
    margin: 0;
}

.to-do-list {
    list-style: none;
    padding: 0px 20px;
}

.overdue-task {
    color: red;
}

.btn.btn-secondary.dropdown-toggle {
    background-color: #6b0848
}

.black-text-link {
    color: black;
}
