{% extends "base.html" %}



{% block content %}
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Choose a List
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% for list in all_lists %}
         <a class="dropdown-item" href="{{ url_for('view_list', list_id=list.id) }}">{{ list.list_name }}</a>
      {% endfor %}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{ url_for('create_new_list') }}">Create new list</a>
  </div>
</div>
{% endblock %}
