{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col">
            {{ wtf.quick_form(task_form, novalidate=True, extra_classes="task_form") }}
        </div>
        <div class="col">
            <h1> {{ list_name }} </h1>
            <h3>To Do</h3>
            {% if incomplete_tasks | length == 0 %}
            <ul>
                <li list-style="disc"><i>pending tasks will appear here</i></li>
            </ul>
            {% else %}
                <ul class="to-do-list">
                    {% for task in incomplete_tasks %}
                        {% if date_today > task.due_date %}
                        <li class="overdue-task">
                            <a href="{{ url_for('mark_complete', list_id=list_id, task_id=task.id) }}"
                               class="link-primary">✔️</a>
                            {{ task.task_description }}, due {{ task.due_date}}
                            <a href="{{ url_for('delete_task', list_id=list_id, task_id=task.id) }}" class="link-primary">delete</a>\
                            <a href="{{ url_for('edit_task', list_id=list_id, task_id=task.id) }}" class="link-primary">edit</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{{ url_for('mark_complete', list_id=list_id, task_id=task.id) }}"
                               class="link-primary">✔️</a>
                            {{ task.task_description }}, due {{ task.due_date}}
                            <a href="{{ url_for('delete_task', list_id=list_id, task_id=task.id) }}" class="link-primary">delete</a>
                            <a href="{{ url_for('edit_task', list_id=list_id, task_id=task.id) }}" class="link-primary">edit</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}

            <h3>Completed</h3>
            <ul>
                {% if complete_tasks | length == 0 %}
                <li><i>completed tasks will appear here</i></li>
                {% else %}
                    {% for task in complete_tasks %}
                    <li>{{ task.task_description }}</li>
                    {% endfor %}
                {% endif %}
            </ul>
            <a href="{{ url_for('delete_check', list_id=list_id) }}">Delete List</a>
        </div>
    </div>

</div>

{% endblock %}